<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
    <a class="navbar-brand" href="/">Boot Theme</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex align-items-end">
            {{ range .Site.Menus.mainmenu }}
            <a class="nav-item nav-link" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>
</nav>