<script type="application/ld+json"> {
    "@context" : "http://schema.org",
    "@type" : "Restaurant",
    "address" : {
        "@type": "PostalAddress",
        "addressLocality": "{{ $.Site.Params.city }}",
        "addressRegion": "{{ $.Site.Params.region }}",
        "postalCode": "{{ $.Site.Params.postalcode }}",
        "streetAddress": "{{ $.Site.Params.address }}" 
    },
    "name":"{{.Site.Title}}",
    "url":"{{.Site.BaseURL}}",
    "email":"{{ $.Site.Params.email }}",
    "openingHours": [
    "{{ $.Site.Params.openinghour }}"],
    "aggregateRating":{
    "@type":"AggregateRating",
    "ratingValue":"{{ $.Site.Params.reviewvalue }}",
    "reviewCount":"{{ $.Site.Params.reviewcount }}"},
    "priceRange":"{{ $.Site.Params.pricerange }}",
    "servesCuisine": ["{{ $.Site.Params.type }}"],"acceptsReservations":"true",
    "menu":"{{.Site.BaseURL}}/menu",
    "paymentAccepted":"Visa, Master Card, Amex"
    }
</script>